body {
    overflow: hidden;
    margin: 0;
}

#page-container {
    height: 100vh;
}

#vid-alert-container {
    position: absolute;
    top: 70%;
    height: 10%;
}

.hidden {
    display: none;
}

.show-alert-vertical {
    top: 70%;
    animation: vertical-reveal 1s linear normal;
}

.hide-alert-vertical {
    top: 70%;
    animation: vertical-reveal 1s linear reverse;
}

@keyframes vertical-reveal {
    0% {
        top: 100%
    }
    100% {
        top: 70%;
    }
}
