@font-face {
    font-family: 'BM Mini';
    src: url(../../media/misc/BMmini.TTF);
}

@keyframes vertical-reveal {
    0% {
        bottom: -450px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes horizontal-reveal-right {
    0% {
        right: -400px;
    }
    5% {
        right: 0;
    }
    95% {
        right: 0;
    }
    100% {
        right: -400px;
    }
}

@keyframes printer {
    /* step 1: starting position */
    0% {
        bottom: -164px;
    }

    /* step 2: first print */
    24% {
        bottom: -109px;
    }

    /* step 3: pause after first print */
    32% {
        bottom: -109px;
    }

    /* step 4: second print */
    56% {
        bottom: -54px;
    }

    /* step 5: pause after second print */
    64% {
        bottom: -54px;
    }

    /* step 6: third print */
    88% {
        bottom: 0px;
    }

    /* step 7: pause after third print */
    94% {
        bottom: 0px;
    }

    /* step 8: yank (tear) */
    100% {
        bottom: 45px;
    }
}

@keyframes hold-and-fade-out {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

body {
    overflow: hidden;
    margin: 0;
}

.hidden {
    display: none;
}

#page-container {
    height: 100vh;
    width: 100vw;
}

#helloThere {
    position: absolute;
    bottom: 0;
}

.show-alert-vertical {
    animation: vertical-reveal 1s linear normal;
}

.hide-alert-vertical {
    animation: vertical-reveal 1s linear reverse;
}

#citation {
    position: absolute;
    bottom: 40px;
    left: calc(50% - 183px);
}

#citation p {
    font-family: 'BM Mini';
    font-size: 17px;
    line-height: 1.25rem;
    color: #6e6e6e;

    position: absolute;
    top: 28px;
    left: 21px;

    width: 324px;
    max-height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* line-clamp: 3; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.citation-done {
    bottom: 40px;
    animation: hold-and-fade-out 5s linear normal;
}

.print-citation {
    animation: printer 2.441s linear normal;
}

#danOwned {
    width: 800px;
    height: auto;

    position: absolute;
    bottom: 10px;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#danOwned img {
    width: 45%;
    height: auto;
    float: left;
    margin-right: 5px;
}

#danOwned div {
    margin-top: auto;
    font-family: Tahoma;
    font-size: 65px;
    font-weight: bold;

    letter-spacing: 3px;
    paint-order: stroke fill;
    -webkit-text-stroke: 4px black;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0 , 0, 0, 1),
                 2px 2px 2px rgba(0 , 0, 0, 1),
                 2px 5px 5px rgba(0,0,0,1);
    color: #fff;

    display: block;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

#danOwned div span::first-letter {
    font-size: 75px;
}

#toasty,
#crispy,
#frosty {
    width: 400px;
    height: auto;

    position: absolute;
    bottom: 0px;
    right: 0px;
}

#toasty img,
#crispy img,
#frosty img {
    width: 100%;
    height: auto;
}

.show-alert-horizontal-right {
    animation: horizontal-reveal-right 3s linear normal;
}
